*{
    box-sizing: border-box;
  }
  body{
    width: 1280px;
  }
  main {
    width: 100%;
    text-align: center;
  }
  header {
    margin-left: 50px;
    width: 100%;
    text-align: center;
    margin-top: 150px;
  }
p{
    font-size: 12px;
    letter-spacing: 5px;
    line-height: 30px;
    color: #898f99;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}
h1{
    padding-left: 100px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #0EC8CB;
}
.p1{
    padding-left: 100px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #999999;
}
table{
    margin-top: 110px;
    margin-left: 250px;
}
td{
    padding-top:100px;
    width: 236px;
    height: 420px;
    background-color: #f7f7f7;
    border: 1px solid #ececec;
    text-align: center;
}
a{
    text-decoration: none;
}
.a1{
    background: url(../img/anchorblack.png) center 50px no-repeat #F7F7F7;
    
}
.a2{
    background: url(../img/diamond_black.png) center 50px no-repeat #F7F7F7;
}
.a3{
    background: url(../img/eyeglassesblack.png) center 50px no-repeat #F7F7F7;
}
.a4{
    background: url(../img/monitorblack.png) center 50px no-repeat #F7F7F7;
    
}
.a1:hover{
    background: url(../img/anchor_white.png)center 50px no-repeat #0ec8cb;
}
.a2:hover{
    background: url(../img/diamondwhite.png)center 50px no-repeat #0ec8cb;
}
.a3:hover{
    background: url(../img/eyeglasses_white.png)center 50px no-repeat #0ec8cb;
}
.a4:hover{
    background: url(../img/monitor_white.png)center 50px no-repeat #0ec8cb;
}
a{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #777777;
}
p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #1B1B1B;
}

