*{
    box-sizing: border-box;
  }
  body{
    width: 1280px;
  }
  main {
    width: 100%;
    text-align: center;
  }
  header {
    margin-left: 50px;
    width: 100%;
    text-align: center;
    margin-top: 150px;
  }
p{
    font-size: 12px;
    letter-spacing: 5px;
    line-height: 30px;
    color: #898f99;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}
h1{
    margin-top: 38px;
    font-size: 48px;
    letter-spacing: 5px;
    line-height: 30px;
    color: #0ec8cb;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.p1{
    margin-top: 38px;
    margin-left: 380px;
    width: 513px;
    height: 65px;
    font-size: 18px;
    line-height: 30px;
    color: #999999;
    font-weight: 400;
    font-family: "PT Sans";
    text-align: center;
}
table{
    margin-top: 110px;
    margin-left: 250px;
}
td{
    padding-top:100px;
    width: 236px;
    height: 420px;
    background-color: #f7f7f7;
    border: 1px solid #ececec;
    text-align: center;
}
a{
    text-decoration: none;
}
.a1{
    background-image: url(../img/anchorblack.png) 50px center no-repeat;
}
.a2{
    background-image: url(../img/diamond_black.png) 50px center no-repeat;
}
.a3{
    background-image: url(../img/eyeglassesblack.png) 50px center no-repeat;
}
.a4{
    background-image: url(../img/monitorblack.png) 50px center no-repeat;
}
.a1:hover{
    color: white;
    background-color: #0ec8cb;
    background-image: url(img/anchor_white.png) 50px center no-repeat;
}
.a2:hover{
    background-color: #0ec8cb;
    background-image: url(../img/diamondwhite.png) 50px center no-repeat;
}
.a3:hover{
    background-color: #0ec8cb;
    background-image: url(../img/eyeglasses_white.png) 50px center no-repeat;
}
.a4:hover{
    background-color: #0ec8cb;
    background-image: url(../img/monitor_white.png) 50px center no-repeat;
}

