*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    width: 1280px;
  }
  main {
    width: 100%;
    text-align: center;
  }
  header {
      margin-left: 50px;
    width: 100%;
    text-align: center;
    margin-top: 150px;
  }
p{
    font-size: 12px;
    letter-spacing: 5px;
    line-height: 30px;
    color: #898f99;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}
h1{
    margin-top: 38px;
    font-size: 48px;
    letter-spacing: 5px;
    line-height: 30px;
    color: #0ec8cb;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.p1{
    margin-top: 38px;
    margin-left: 380px;
    width: 513px;
    height: 65px;
    font-size: 18px;
    line-height: 30px;
    color: #999999;
    font-weight: 400;
    font-family: "PT Sans";
    text-align: center;
}
table{
    margin-top: 110px;
    margin-left: 250px;
}
td{
    display: inline-block;
    width: 236px;
    height: 420px;
    background-color: #f7f7f7;
    border: 1px solid #ececec;
    text-align: center;
}
.a1{
    background-image: url(../img/anchorblack.png) no-repeat center center;
}
.a2{
    background-image: url(../img/diamond_black.png);
}